html {
   box-sizing: border-box;
}
*, *::before, *::after {
   box-sizing: inherit;
}
img {
   display: block;
   max-width: 100%;
}
body {
   font-family: 'Oswald', sans-serif;
   font-weight: 400;
}
.contain{
   max-width: 1110px;
   margin: 0 auto;
  
}
/* Используемые цвета */
:root {
   --accent-color: #F7654A;
   --darc-color: #404149;
   --gray-color: #999999;
   --white-color: #ffffff;
   --background-color: #e5e5e5;
}
/* Стили текстов */
.text-h2{
   font-family: 'Oswald', sans-serif;
   font-weight: 500;
   font-size: 36px;
   text-transform: uppercase;
}
.text-h3{
   font-family: 'Oswald', sans-serif;
   font-weight: 500;
   font-size: 24px;
}
.text-h4{
   font-family: 'Oswald', sans-serif;
   font-weight: 500;
   font-size: 21px;
}
.text-h5{
   font-family: 'Oswald', sans-serif;
   font-size: 18px;
   text-transform: uppercase;
}
.text-p16 {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
}
.text-p14 {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   line-height: 21;
}
/* Header*/
.header {
   min-height: 740px;
   height: 100%;
   background-image: url(../img/header-backgroung.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.header__title {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding-top: 20px;
   margin-bottom: 112px;
}
.logo {
   width: 60px;
   height: 60px;
}
.burger {
   width: 50px;
   height: 50px;
   background-color: var(--accent-color);
   cursor: pointer;
   border: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.burger__line {
   display: block;
   width: 20px;
   height: 3px;
   background-color: #fff;
   margin-bottom: 4px;
}
.burger__line:last-child{
   margin-bottom: 0;
}
.burger:hover {
   background-color: var(--white-color);
   .burger__line{
      background-color: var(--accent-color);
   }
}
.header__h1 {
   max-width: 734px;
   margin: 0 auto;
   font-size: 64px;
   line-height: 95px;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: var(--white-color);
}
.header__h4 {
   padding-top: 21px;
   max-width: 734px;
   margin: 0 auto;
   text-align: center;
   color: var(--white-color);
   font-weight: 400;
}
/*About*/
.about {
   padding-top: 250px;
   min-height: 1080px;
   position: relative;
}
.info {
   position: absolute;
   top: -150px;
   left: 50%;
   transform: translateX(-50%);
   background-color: #f7f7f7;
   min-height: 300px;
   padding: 57px 130px;
}
.about__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
   justify-items: center;
}
.about__grid__item {
   text-align: center;
   width: 190px;
}
.item__number {
   color: var(--Accent, #F7654A);
   text-align: center;
   font-size: 72px;
   font-weight: 500;
   line-height: normal;
   text-transform: uppercase;
   margin-bottom: 5px;
}
.item__years {
   color: #000;
   text-align: center;
   font-size: 36px;
   font-weight: 500;
   line-height: normal;
   text-transform: uppercase;
}
.item__p {
   color: var(--gray-color);
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   line-height: normal;
}
.about-title {
   text-align: center;
   padding-top: 10px;
   margin-bottom: 58px;
   color: var(--darc-color);
}
.about__flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.about__flex-item {
   max-width: 350px;
   width: 100%;
   margin-right: 30px;

}
.about__flex-item:last-child{
   margin-right: 0px;
}
.about-img {
   margin-bottom: 45px;
}
.rectangle {
   width: 56px;
   height: 6px;
   background-color: var(--accent-color);
   margin-bottom: 20px;
}
.about-h3 {
   color: var(--darc-color);     
   margin-bottom: 20px;                      
}
.about-p {
   color: var(--gray-color);
   line-height: normal;
   margin-bottom: 30px;
}
/*reqest*/
.smart-project {
   background-color: var(--accent-color);
   padding: 42px 0;;
}
.smart-project__flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.smart-project__flex-left {
   color: var(--white-color);
}
.sm-text-h1 {
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.03em;
   padding-top: 1px;
   margin-bottom: 24px;
}
.smart-project-h3 {
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.045em;
   font-size: 24px;
}
.smart-project__button {
   text-decoration: none;
   color: #000;
   min-width: 175px;
   border: none;
   background-color: #fff;
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   font-family: Oswald;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 0.05em;
   margin-top: 17px;
   padding: 17px 30px;
}
img.smart-project__icon {
   margin-right: 15px;
}
/*services*/
.services {
   padding: 160px 0px 150px;
}
.services__h2 {
   text-align: center;
   margin-bottom: 66px;
}
.services__grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 30px;
   justify-items: center;
}
.services__grid-item {
   background-color: #f7f7f7;
   width: 350px;
}
.services__icon {
   margin: 0 auto;
   padding-top: 56px;
}
.services-text {
   padding: 24px 92px 0 86px;
   text-align: center;  
   text-transform: uppercase;
   margin-bottom: 59px;
   line-height: 31px;
   letter-spacing: 0.02625rem;
}
/*Portfolio*/
.portfolio__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   gap: 0;
}
#materialbox-overlay {
   background: none;
}
/*question*/
.question {
   padding-top: 158px;
   padding-bottom: 88px;
}
.question .services__h2 {
   margin-bottom: 65px;
}
.question_h3 {
   text-transform: uppercase;
   color: var(--accent-color);
   margin-bottom: 35px;
   width: 330px;
}
.question_p {
   margin-bottom: 52px;
   color: var(--gray-color);
   max-width: 730px;
   font-size: 16px;
   line-height: 22px;
}
 /*Partners*/
 .partners {
   padding-top: 107px;
   padding-bottom: 100px;
   background-color: var(--darc-color);
}
.partners__h2 {
   color: var(--white-color);
   text-align: center;
   margin-bottom: 60px;
}
.partners__grid {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 61px;
}
/*reviews*/
.reviews {
   padding: 159px 0 148px;
}
.reviews__h2 {
   text-align: center;
   margin-bottom: 63px;
}
.reviews__grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}
.reviews__card {
   background-color: #f7f7f7;
   margin-bottom: 40px;
   padding: 30px;
}
.reviews__h1 {
   color: var(--accent-color);
   font-size: 96px;
   line-height: 1;
   margin-bottom: -40px;
   font-weight: 800;
}
.reviews__p {
   font-family: Open Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 21px;
   color: var(--gray-color);
}
.reviews-h4 {
   letter-spacing: 0.5px;
}
.reviews-h4 span{
   color: var(--accent-color);
}
/*Contacts*/
.contacts {
   padding-top: 109px;
   padding-bottom: 150px;
}
.contacts-h2 {
   text-align: center;
   margin-bottom: 66px;
}
.contacts__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   gap: 30px;
}
.contacts__item {
   text-align: center;
   max-width: 250px;
}
.contacts__grid_icon {
   margin: 0 auto;
}
.contacts-text2 a {
   text-decoration: none;
   color: inherit;
}
.contacts__grid_icon-email {
   padding-top: 7px;
}
.contacts-text1 {
   padding-top: 23px;
   margin-bottom: 25px;
   color: var(--gray-color);
   text-transform: uppercase;
}
.contacts-text1-email {
   padding-top: 30px;
}
.contacts-text2 {
   line-height: 36px;
   text-transform: uppercase;
}
.contacts-email {
   color: var(--accent-color);
   cursor: pointer;
}
/*Footer*/
.footer {
   padding: 33px 0px 33px;
   background-color: var(--darc-color);
}
.footer__flex {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.footer-p {
   color: #f7f7f7;
}
/*Адаптация*/
@media screen and (max-width: 1280px) { 
   .contain {
      padding-left: 15px;
      padding-right: 15px;
   }
   .about__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }
   .about {
      padding: 450px 15px 110px;
   }
   .services__grid {
      grid-template-columns: repeat(2, 1fr );
      grid-template-rows: repeat(3, 1fr);
   }
   .services__grid-item{
      width: 100%;
   }
   .portfolio__grid {
      grid-template-columns: repeat(3, 1fr);
   }
   .question {
      padding-bottom: 110px;
   }
   .partners__grid {
      gap: 40px;
   }
   .reviews__grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .contacts__grid {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 948px) { 
   .portfolio__grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .partners__grid {
      grid-template-columns: repeat(4, 1fr);
   }
   .partners__grid {
      grid-template-columns: repeat(4, 1fr );
   }
}
@media screen and (max-width: 800px) {
   .about__flex {
      flex-direction: column;
      align-items: center;;
   }
}
@media screen and (max-width: 768px) { 
   .info {
      position: relative;
   }
   .about__grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
   }
   .about {
     padding-top: 0px;
     padding-bottom: 80px;
   }
   .smart-project__flex {
      flex-direction: column;
      text-align: center;
   }
   .smart-project__flex-right {
      padding-top: 20px;
   }
   .services{
      padding-top: 100px;
      padding-bottom: 100px;
   }
   .services__grid {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .portfolio__grid {
      grid-template-columns: repeat(1, 1fr);
   }
   .question {
      padding: 110px 15px;
   }
   .partners__grid {
      grid-template-columns: repeat(3, 1fr);
   }
   .reviews{
      padding: 110px 15px;
   }
   .reviews__grid {
      grid-template-columns: repeat(1, 1fr);
   }
   .contacts__grid {
      grid-template-columns: repeat(1, 1fr);
   }
   .contacts{
      padding-bottom: 100px;
   }
}
@media screen and (max-width: 724px) {
   .about__flex-item{
      margin-right: 0;
   }
}
@media screen and (max-width: 580px) {
   .header__h1 {
      font-size: 48px;
      line-height: 64px;
   }
   .about {
      padding-top: 0px;
      padding-bottom: 80px;
   }
   .about-title {
      padding-top: 40px;
      margin-bottom: 40px;
   }
   .info{
      padding-left: 60px;
      padding-right: 60px;
   }
   .partners__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
   }
   .footer__flex{
      flex-direction: column;
      align-items: center;
   }
   .footer-p{
      margin-bottom: 15px;
   }
   .footer-p:last-child{
      margin-bottom: 0;
   }
}
